<!doctype html>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/turn.min.js')}}"></script>

   <link rel="icon" href="{{ url_for('static', filename='yourComics.png')}}">
<title>{{name}} #{{issue}}</title>
        <!-- Vendor CSS -->
        
        <!-- CSS -->
        <link href="{{ url_for('static', filename='css/app.min.1.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.min.2.css')}}" rel="stylesheet"> 
<style type="text/css">
body{
	background:#ccc;
}
#magazine{
	width:1152px;
	height:752px;
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
</style>
</head>
<body>
<center>
<header id="header" class="media">
{% if prev == "no" and nextB != "no" %}
<p style="display: inline">
 <button class="btn"><img src="{{ url_for('static', filename='arrow-left.png')}}" style="height:20px;width:20px" /> Prev.</button>
 
 <a href="/print/{{comic}}/{{issue}}" class="hidden-xs"><button class="btn btn-warning"><img src="{{ url_for('static', filename='printer.png')}}" style="height:20px;width:20px"/> Print</button></a>

 <form action="/{{comic}}/{{nextB}}/" method="POST" class="p-relative" style="display: inline-block;">
                            <input type="hidden" name="user" value="{{user}}">

 <button class="btn btn-success" alt="Submit">Next <img src="{{ url_for('static', filename='arrow-right.png')}}" style="height:20px;width:20px" /></button>

</form>
</p>
<br/>
<br/><center>

 <form action="/{{comic}}/" method="POST" class="p-relative">
                            <input type="hidden" name="user" value="{{user}}">

 <button alt="Submit" class="btn btn-info"> {{name}} Home</button>
</form>
</center>

{% endif %}



{% if nextB == "no" and prev != "no" %}

<p style="display: inline">
 <form action="/{{comic}}/{{prev}}/" method="POST" class="p-relative" style="display: inline-block;">
<input type="hidden" name="user" value="{{user}}">
 <button class="btn btn-primary" alt="Submit"><img src="{{ url_for('static', filename='arrow-left.png')}}" style="height:20px;width:20px" /> Prev.</button>

</form>

 <a href="/print/{{comic}}/{{issue}}" class="hidden-xs"><button class="btn btn-warning"><img src="{{ url_for('static', filename='printer.png')}}" style="height:20px;width:20px"/> Print</button></a>

 <button class="btn">Next <img src="{{ url_for('static', filename='arrow-right.png')}}" style="height:20px;width:20px" /></button>
<br/><br/><center>

 <form action="/{{comic}}/" method="POST" class="p-relative">
                            <input type="hidden" name="user" value="{{user}}">

 <button alt="Submit" class="btn btn-info"> {{name}} Home</button>
</form>
</center>
</p>
{% endif %}

{% if nextB == "no" and prev == "no" %}
<p style="display: inline">
<button class="btn"><img src="{{ url_for('static', filename='arrow-left.png')}}" style="height:20px;width:20px" /> Prev.</button>
 

 <a href="/print/{{comic}}/{{issue}}" class="hidden-xs"><button class="btn btn-warning"><img src="{{ url_for('static', filename='printer.png')}}" style="height:20px;width:20px"/> Print</button></a>
  <button class="btn">Next <img src="{{ url_for('static', filename='arrow-right.png')}}" style="height:20px;width:20px" /></button>

<br/>
</p><center>


 <form action="/{{comic}}/" method="POST" class="p-relative">
                            <input type="hidden" name="user" value="{{user}}">

 <button alt="Submit" class="btn btn-info"> {{name}} Home</button>
</form>

</center>

{% endif %}

{% if nextB != "no" and prev != "no" %}
<p style="display: inline">
 <form action="/{{comic}}/{{prev}}/" method="POST" class="p-relative" style="display: inline-block;">
<input type="hidden" name="user" value="{{user}}">
 <button class="btn btn-primary" alt="Submit"><img src="{{ url_for('static', filename='arrow-left.png')}}" style="height:20px;width:20px" /> Prev.</button>

</form>


 <a href="/print/{{comic}}/{{issue}}" class="hidden-xs"><button class="btn btn-warning"><img src="{{ url_for('static', filename='printer.png')}}" style="height:20px;width:20px"/> Print</button></a>


 <form action="/{{comic}}/{{nextB}}/" method="POST" class="p-relative" style="display: inline-block;">
                            <input type="hidden" name="user" value="{{user}}">

 <button class="btn btn-success" alt="Submit">Next <img src="{{ url_for('static', filename='arrow-right.png')}}" style="height:20px;width:20px" /></button>

</form>
</p>
<br/><br/><center>

 <form action="/{{comic}}/" method="POST" class="p-relative">
                            <input type="hidden" name="user" value="{{user}}">

 <button alt="Submit" class="btn btn-info"> {{name}} Home</button>
</form>



{% endif %}
</header>
<hr/>
<div id="magazine">
{% for url in arr %}
	<div style="background-image:url({{url}});"></div>
	{% endfor %}
</div>
</center>

<script type="text/javascript">

	$(window).ready(function() {
		$('#magazine').turn({
							display: 'double',
							acceleration: true,
							gradients: !$.isTouch,
							elevation:50,
							when: {
								turned: function(e, page) {
									/*console.log('Current view: ', $(this).turn('view'));*/
								}
							}
						});
	});
	
	
	$(window).bind('keydown', function(e){
		
		if (e.keyCode==37)
			$('#magazine').turn('previous');
		else if (e.keyCode==39)
			$('#magazine').turn('next');
			
	});

</script>


</body>
</html>
