
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Find Me Comics</title>
   <link rel="icon" href="{{ url_for('static', filename='yourComics.png')}}">

        <!-- Vendor CSS -->
        <link href="{{ url_for('static', filename='fullcalendar.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='animate.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='material-design-iconic-font.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css')}}" rel="stylesheet">        
        <link href="{{ url_for('static', filename='palette.css" rel="stylesheet')}}">
        
        <!-- CSS -->
        <link href="{{ url_for('static', filename='css/app.min.1.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.min.2.css')}}" rel="stylesheet"> 
        
    </head>
    <body style="background-color:teal;">

        <!-- Page Loader -->
     <div class="page-loader palette-Teal bg">
            <div class="preloader pl-xl pls-white">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"/>
                </svg>
            </div>
            <center><h2 style="color:white">Loading...</h2></center>
        </div>
      
       

    </body>
  </html>