
<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome</title>
   <link rel="icon" href="{{ url_for('static', filename='yourComics.png')}}">
        
   <link rel="icon" href="{{ url_for('static', filename='yourComics.png')}}">
               <!-- Vendor CSS -->
        <link href="{{ url_for('static', filename='fullcalendar.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='animate.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='material-design-iconic-font.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css')}}" rel="stylesheet">        
        <link href="{{ url_for('static', filename='palette.css" rel="stylesheet')}}">
        
        <!-- CSS -->
        <link href="{{ url_for('static', filename='css/app.min.1.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.min.2.css')}}" rel="stylesheet"> 
    </head>
    
    <body>
    <center><h1 color="white"> Find Me Comics</h1></center>
        <div class="login" data-lbg="teal">
            <!-- Login -->
            <div class="l-block toggled" id="l-login">

                  <form action="/FindMeComicUser" method="POST">
                   <br/>
                   <h3> <center>Hi there! Please Sign in</center></h3>
                <center><p style="color:red">{{mess}}</p>
                        </center>
                <div class="lb-body">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" name="email" class="input-sm form-control fg-input">
                            <label class="fg-label">Email Address</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="password" name="passW" class="input-sm form-control fg-input">
                            <label class="fg-label">Password</label>
                        </div>
                    </div>

                    <button class="btn palette-Teal bg" type="submit">Sign in</button>

                    <div class="m-t-20">
                        <a data-block="#l-register" data-bg="blue" class="palette-Teal text d-block m-b-5" href="">Creat an account</a>
                        <a data-block="#l-forget-password" data-bg="purple" href="" class="palette-Teal text">Forgot password?</a>
                    </div>
                </div>
                </form>
            </div>

            <!-- Register -->
            <div class="l-block" id="l-register">

                  <form action="/AddComicUser" method="POST">
                       <br/>
                   <h3> <center>Welcome Create an Account!</center></h3>

                <div class="lb-body">
                    

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" name="email" class="input-sm form-control fg-input">
                            <label class="fg-label">Email Address</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="password" name="passW" class="input-sm form-control fg-input">
                            <label class="fg-label">Password</label>
                        </div>
                    </div>

                    <button class="btn palette-Blue bg">Create Account</button>

                    <div class="m-t-30">
                        <a data-block="#l-login" data-bg="teal" class="palette-Blue text d-block m-b-5" href="">Already have an account?</a>
                        <a data-block="#l-forget-password" data-bg="purple" href="" class="palette-Blue text">Forgot password?</a>
                    </div>
                </div>
                </form>
            </div>

            <!-- Forgot Password -->
            <div class="l-block" id="l-forget-password">
                       <br/>

                  <form action="/emailUser" method="POST">
                   <h3> <center>Enter Email For Account</center></h3>

                <div class="lb-body">
                  

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" name="email" class="input-sm form-control fg-input">
                            <label class="fg-label">Email Address</label>
                        </div>
                    </div>

                    <button class="btn palette-Purple bg">Create Account</button>

                    <div class="m-t-30">
                        <a data-block="#l-login" data-bg="teal" class="palette-Purple text d-block m-b-5" href="">Already have an account?</a>
                        <a data-block="#l-register" data-bg="blue" href="" class="palette-Purple text">Create an account</a>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->

        <!-- Javascript Libraries -->

            <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
            <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
            <script src="{{ url_for('static', filename='waves.min.js')}}"></script>
            <script src="{{ url_for('static', filename='functions.js')}}"></script>
        
    </body>
</html>