
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Find Me Comics Search</title>
   <link rel="icon" href="{{ url_for('static', filename='yourComics.png')}}">

        <!-- Vendor CSS -->
        <link href="{{ url_for('static', filename='fullcalendar.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='animate.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='material-design-iconic-font.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css')}}" rel="stylesheet">        
        <link href="{{ url_for('static', filename='palette.css" rel="stylesheet')}}">
        
        <!-- CSS -->
        <link href="{{ url_for('static', filename='css/app.min.1.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.min.2.css')}}" rel="stylesheet"> 
        
    </head>
    <body>
    <div style="background-color:teal">

<header id="header" class="media">
            <div class="pull-left h-logo">
                      <form action="/popularComics" method="POST">
                        <input type="hidden" name="user" value="{{name}}">
                          <input type="image" src="{{ url_for('static', filename='FindMeComics.png')}}" alt="Submit" width="160" height="80">
                  
               
                </form>
                
                <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                    <div class="mc-wrap">
                        <div class="mcw-line top palette-White bg"></div>
                        <div class="mcw-line center palette-White bg"></div>
                        <div class="mcw-line bottom palette-White bg"></div>
                    </div>
                </div>
            </div>

            <ul class="pull-right h-menu">
                <li class="hm-search-trigger">
                    <button class="btn btn-primary btn-icon"><i class="zmdi zmdi-home"></i></button>
                </li>
                
               
                <li class="dropdown hm-profile">
<form action="/myComics" method="POST">
                        <input type="hidden" name="user" value="{{user}}">
                        <input type="image" src="{{ url_for('static', filename='yourComics.png')}}" alt="Submit" width="48" height="48">
                  
                </form>
             
                    
                  
                </li>
            </ul>
            
            <div class="media-body h-search">
                
                  <form action="/search/" method="POST" class="p-relative">
                    <input type="text" name="name" class="hs-input" placeholder="Search for specific comic" autocomplete="off">
                     <input type="hidden" name="user" value="{{user}}">
                   
                </form>
            </div>
            
        </header>

</div>
        <section id="main">
        
            <section id="content">

                <div class="container">
                    <h2><u>Search Results for {{name}}</u></h2>
                         {% for url in pop%}
                         <center>
<div class="col-sm-4">
                         <br/>
                           <form action="/{{url}}/" method="POST" class="p-relative">
                            <input type="hidden" name="user" value="{{user}}">
                            <input type="image" src="{{images[pop.index(url)]}}" alt="Submit" width="270" height="400">
                         <br/><center><h5>{{url.replace("-"," ").title()}}</h5></center>
                         </form>
                         </div>
                         </center>
    {% endfor %}
                   </div> 
            </section>


        </section>

        <!-- Page Loader -->
   <!--     <div class="page-loader palette-Teal bg">
            <div class="preloader pl-xl pls-white">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"/>
                </svg>
            </div>
        </div>
        -->
        


            <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
            /
            <script src="{{ url_for('static', filename='waves.min.js')}}"></script>
            <script src="{{ url_for('static', filename='functions.js')}}"></script>
       

    </body>
  </html>